<main class="index">
    <header class="masthed d-flex">
        <div class="container text-center my-auto">
            <img src="/img/tecsicomLogo.png" alt="ImgLogoPerfil" width="200" height="200"">
            <h1 class="mb-1">App Tecsicom de Taxis</h1>
            <h3 class="mb-5">
                Pide un Taxi
            </h3>
            <a href="/signin" class="btn btn-primary">Comenzemos </a>

        </div>

    </header>
</main>