<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
     <a class="navbar-brand " href="#">
    <img src="http://tecsicom.net/home/images/tecsicom_bw.png" width="40" height="40" class="d-inline-block align-top" alt="">
    TaxiApp
  </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNav">
      <ul class="navbar-nav  ">
        {{#if user}}
        <li class="nav-item">
          <a class="nav-link active"  href="/add">Crear Peticion</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/profile">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/logout">Logout</a>
        </li>
        {{/if}}
       
      </ul>
    </div>
  </div>
</nav>